absl-py==2.1.0
accelerate==0.33.0
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
aiosqlite==0.20.0
alembic==1.13.3
altair==5.3.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
apturl==0.5.2
aqlm==1.1.6
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asteroid-filterbanks==0.4.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
auto_gptq==0.7.1
autoawq @ https://github.com/oobabooga/AutoAWQ/releases/download/0.2.6/autoawq-0.2.6-cp310-cp310-linux_x86_64.whl
autoawq_kernels @ https://github.com/oobabooga/AutoAWQ_kernels/releases/download/0.0.7/autoawq_kernels-0.0.7-cp310-cp310-linux_x86_64.whl
av==11.0.0
Babel==2.15.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
bitsandbytes==0.43.3
bleach==6.1.0
blinker==1.8.2
Brlapi==0.8.3
Brotli==1.0.9
certifi==2020.6.20
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cmake==3.30.3
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.2
command-not-found==0.3
contourpy==1.2.1
cramjam==2.8.3
crispy-bootstrap5==2024.10
cryptography==3.4.8
ctranslate2==4.5.0
cupshelpers==1.0
cycler==0.12.1
DataProperty==1.0.1
datasets==3.0.1
dbus-python==1.2.18
debtcollector==2.3.0
debugpy==1.8.2
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.8
diskcache==5.6.3
distlib==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==5.1.4
django-cors-headers==4.6.0
django-crispy-forms==2.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dnspython==2.6.1
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.17.1
duplicity==0.8.21
ecdsa==0.19.0
einops==0.8.0
email_validator==2.2.0
evdev==1.4.0
eventlet==0.37.0
exceptiongroup==1.2.1
executing==2.0.1
exllamav2 @ https://github.com/oobabooga/exllamav2/releases/download/v0.1.8/exllamav2-0.1.8+cu121.torch2.2.2-cp310-cp310-linux_x86_64.whl
fastapi==0.112.4
fastapi-cli==0.0.4
fasteners==0.14.1
faster-whisper==1.0.1
fastjsonschema==2.20.0
fastparquet==2024.5.0
ffmpeg==1.4
ffmpy==0.3.2
filelock==3.14.0
flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.6.1/flash_attn-2.6.1+cu123torch2.2cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
Flask==3.0.3
flask-cloudflared==0.0.14
flatbuffers==24.3.25
fonttools==4.53.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.5.0
future==0.18.2
gekko==1.2.1
gguf==0.10.0
gitdb==4.0.11
GitPython==3.1.43
gpg==1.16.0
gradio==4.44.1
gradio_client==1.3.0
greenlet==3.1.1
grpcio==1.65.0
gssapi==1.6.12
h11==0.14.0
hqq==0.1.7.post3
html5lib==1.1
httpcore==1.0.5
httplib2==0.20.2
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.4
humanfriendly==10.0
HyperPyYAML==1.2.2
idna==3.3
ifaddr==0.1.7
importlib-metadata==4.6.4
importlib_resources==6.4.0
interegular==0.3.3
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.5
iso8601==1.0.2
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.4
jiter==0.5.0
joblib==1.4.2
json5==0.9.25
jsonlines==4.0.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
julius==0.2.7
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.13
jwcrypto==1.0
keyring==23.5.0
kiwisolver==1.4.5
language-selector==0.1
lark==1.2.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
librosa==0.10.2.post1
libvirt-python==8.0.0
lightning==2.4.0
lightning-utilities==0.11.8
llama_cpp_python @ https://github.com/oobabooga/llama-cpp-python-cuBLAS-wheels/releases/download/cpu/llama_cpp_python-0.2.89+cpuavx2-cp310-cp310-linux_x86_64.whl
llama_cpp_python_cuda @ https://github.com/oobabooga/llama-cpp-python-cuBLAS-wheels/releases/download/textgen-webui/llama_cpp_python_cuda-0.2.89+cu121-cp310-cp310-linux_x86_64.whl
llama_cpp_python_cuda_tensorcores @ https://github.com/oobabooga/llama-cpp-python-cuBLAS-wheels/releases/download/textgen-webui/llama_cpp_python_cuda_tensorcores-0.2.89+cu121-cp310-cp310-linux_x86_64.whl
llvmlite==0.42.0
lm-eval==0.3.0
lm-format-enforcer==0.10.3
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
mbstrdecoder==1.1.3
mdurl==0.1.2
mistral_common==1.4.3
mistune==3.0.2
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.18.6
multidict==6.0.5
multiprocess==0.70.16
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
netaddr==0.8.0
netifaces==0.11.0
networkx==3.3
ninja==1.11.1.1
nltk==3.8.1
noise==1.2.2
notebook==7.2.2
notebook_shim==0.2.4
numba==0.59.1
numexpr==2.10.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.560.30
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.82
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
olefile==0.46
omegaconf==2.3.0
onnxruntime==1.19.2
openai==1.50.0
openai-whisper==20240930
optimum==1.17.1
optuna==4.0.0
orjson==3.10.6
oslo.config==8.8.0
oslo.context==4.1.0
oslo.i18n==5.1.0
oslo.log==4.6.1
oslo.serialization==4.2.0
oslo.utils==4.12.2
outlines==0.0.46
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandocfilters==1.5.1
paramiko==2.9.3
parso==0.8.4
partial-json-parser==0.2.1.1.post4
passlib==1.7.4
pathvalidate==3.2.0
pbr==5.8.0
peft==0.12.0
pexpect==4.8.0
pillow==10.4.0
platformdirs==4.2.2
pooch==1.8.2
portalocker==2.10.0
primePy==1.3
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==4.25.3
proton-core==0.4.0
proton-keyring-linux==0.2.0
proton-vpn-api-core==0.39.0
proton-vpn-gtk-app==4.8.2
proton-vpn-network-manager==0.10.2
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py3dns==3.2.1
pyairports==2.1.1
pyannote.audio==3.1.1
pyannote.core==5.0.0
pyannote.database==5.1.0
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pybind11==2.13.1
pycairo==1.20.1
pycountry==24.6.1
pycparser==2.22
pycups==2.0.1
pydantic==2.8.2
pydantic_core==2.20.1
pydub==0.25.1
pygame==2.6.1
Pygments==2.18.0
PyGObject==3.42.1
pyinotify==0.9.6
PyJWT==2.3.0
pykerberos==1.1.14
pymacaroons==0.13.0
PyNaCl==1.5.0
PyOpenGL==3.1.5
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pytablewriter==1.2.0
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
python-engineio==4.10.1
python-gnupg==0.4.8
python-jose==3.3.0
python-json-logger==2.0.7
python-lzo==1.12
python-magic==0.4.24
python-multipart==0.0.9
python-novnc==1.0.0
python-socketio==5.11.4
pytorch-lightning==2.4.0
pytorch-metric-learning==2.6.0
pytz==2022.1
pyxdg==0.27
PyYAML==6.0.2
pyzmq==26.0.3
ray==2.37.0
referencing==0.35.1
regex==2024.5.15
rencode==1.0.6
reportlab==3.6.8
requests==2.32.3
requests-toolbelt==0.9.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.8.1
roman==3.3
rouge==1.0.1
rouge-score==0.1.2
rpds-py==0.19.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
ruff==0.5.1
sacrebleu==1.5.0
safetensors==0.4.5
scikit-learn==1.5.1
scipy==1.14.1
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
semantic-version==2.10.0
semver==3.0.2
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.9.0
setproctitle==1.3.3
shellingham==1.5.4
simple-websocket==1.1.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.5.0.post1
speechbrain==1.0.2
SpeechRecognition==3.10.0
SQLAlchemy==2.0.36
sqlitedict==2.1.0
sqlparse==0.5.3
sse-starlette==1.6.5
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.37.2
stevedore==3.5.0
sympy==1.13.0
systemd-python==234
tabledata==1.3.3
tabulate==0.9.0
tcolorpy==0.1.6
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.5.0
tiktoken==0.7.0
tinycss2==1.3.0
tokenizers==0.15.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.4.1
torch-audiomentations==0.11.1
torch_pitch_shift==1.2.5
torchaudio==2.4.1
torchmetrics==1.5.1
torchvision==0.19.0
tornado==6.4.1
tqdm==4.66.5
tqdm-multiprocess==0.0.11
traitlets==5.14.3
transformers==4.39.3
triton==3.0.0
typepy==1.3.2
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata==2024.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
ujson==5.10.0
unattended-upgrades==0.1
uri-template==1.3.0
uritools==3.0.2
urllib3==2.2.2
usb-creator==0.3.7
uvicorn==0.30.1
uvloop==0.19.0
virtualenv==20.26.2
vllm==0.5.4
vllm-flash-attn==2.6.1
wadllib==1.3.6
wandb==0.18.1
watchdog==6.0.0
watchfiles==0.22.0
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
websockify==0.10.0
webssh==1.6.2
Werkzeug==3.0.3
whisper==1.1.10
whisperx==3.1.5
widgetsnbextension==4.0.13
wrapt==1.13.3
wsproto==1.2.0
xdg==5
xformers==0.0.27.post2
xkit==0.0.0
xpra==3.1
xxhash==3.4.1
yarl==1.9.4
zeroconf==0.38.3
zipp==1.0.0
zstandard==0.22.0
